:root {
    --mainColor: #242728;
    --secondaryColor: #181a1b;
    --borderColor: #42474a;
    --mainText: #e8e6e3;
    --secondaryText: #fff;
    --previewBg: rgba(36, 30, 12, 0.8);
    --buttonColor: #000000;
    --headingColor: #292311;
}