:root {
    --mainColor: #DDDAD9;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --previewBg: rgb(251, 249, 243, 0.8);
    --buttonColor: black;
    --headingColor: #E8DFDD;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200;
    margin: 15px auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.nav-wrapper {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headingColor);
}

#navigation {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding-left: 15px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.theme-button {
    margin: auto 15px;
}

body.dark {
    background: #292C35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 40px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.left-column {
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

.right-column {
    display: grid;
    align-items: center;
    justify-content: center;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    min-height: 10em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    border: 1px solid var(--borderColor);
    background-color: var(--previewBg);
}

.social-links>h4 {
    text-align: center;
}

.social-link-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 3em;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: var(--previewBg);
    padding: 15px;
}

.post-title {
    margin: 0;
}

.post-intro {
    color: var(--secondaryText);
    font-size: 14px;
}

.social-img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    cursor: pointer;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 58px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}

.footer {
    min-height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

.footer>a {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .section-wrapper {
        grid-template-columns: 1fr;
        margin-bottom: 3em;
    }
    .about-wrapper {
        grid-template-columns: 1fr;
    }
    .social-link-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0.8em;
    }
    .about-wrapper h4 {
        text-align: center;
    }
    .greeting-wrapper h1 {
        font-size: 40px;
    }
    .left-column h3 {
        font-size: 30px;
    }
    .footer {
        height: 1em;
    }
}